.custom-ripple-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-template-areas: "only";
}

.custom-ripple-container .custom-ripple {
  grid-area: only / only / only / only;
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  background-color: rgb(25, 150, 240);
  opacity: 0;
  animation: 4s cubic-bezier(0.37, 0.58, 0.36, 1) 1.1s 1 normal none running ripple,
    4s cubic-bezier(0.37, 0.58, 0.36, 1) 5s infinite normal none running ripple;
}

@keyframes ripple {
  0% {
    opacity: 0.38;
  }

  25% {
    transform: scale(6);
    opacity: 0.15;
  }

  60% {
    transform: scale(6);
    opacity: 0;
  }
}

.custom-ripple-container img {
  grid-area: only / only / only / only;
  height: 18vh;
  animation: 1s ease 0s 1 normal none running one,
    0.6s ease-in-out 1s 1 normal none running two,
    4s ease-in-out 4.4s infinite normal none running three;
  position: relative;
}

@keyframes one {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

  0% {
    transform: scale(0.01);
    opacity: 1;
  }
}

@keyframes two {
  30% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes three {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(0.95);
    animation-timing-function: ease-out;
  }

  18% {
    transform: scale(1.05);
  }

  23% {
    transform: scale(1);
  }
}

.custom-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-header {
  color: #666665 !important;
  background-color: white !important;
  box-shadow: none !important;
  border-bottom: 1px solid #ccc;
}

.custom-button-container {
  display: flex;
  margin: 0 1rem 1rem 1rem;
}

.custom-button {
  text-transform: initial !important;
  display: flex !important;
  width: 100%;
  border-radius: 50px !important;
  justify-content: flex-start !important;
  padding-left: 1rem !important;
}

.custom-modal-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.custom-task {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  width: 100% !important;
}

.custom-task-textarea {
  flex: 1;
  margin: 0.65rem 0 0.25rem;
}

.custom-task-container {
  padding: 0 1rem 0 1rem;
}

.custom-notes-container {
  display: flex;
  gap: 0.5rem;
  height: 0;
}

.custom-notes-focused {
  height: unset;
}

.custom-notes-container textarea {
  font-size: 14px;
  color: gray;
}

.custom-notes-icon {
  color: gray;
  margin-top: -0.2rem;
}

.custom-task-focused {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-task-container:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiListItem-button.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-child-tasks .custom-task-container {
  padding-left: 3rem;
}

.custom-radio-container .MuiRadio-root {
  display: block;
}

.custom-radio-container .MuiIconButton-root {
  display: none;
}

.custom-radio-container:hover .MuiRadio-root {
  display: none;
}

.custom-radio-container:hover .MuiIconButton-root {
  display: flex;
  margin-right: 0.11rem;
}

.custom-zero-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  text-align: center;
}