.custom-button-container {
  display: flex;
  margin: 0 1rem 1rem 2rem;
}

.custom-button {
  text-transform: initial !important;
  display: flex !important;
  width: 100%;
  border-radius: 50px !important;
  justify-content: flex-start !important;
  padding-left: 1rem !important;
}

.custom-modal-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.custom-task {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  width: 100% !important;
}

.custom-task-textarea {
  flex: 1;
  margin: 0.65rem 0 0.25rem;
}

.custom-task-container {
  padding: 0 1rem 0 2rem;
}

.custom-notes-container {
  display: flex;
  gap: 0.5rem;
}

.custom-notes-container textarea {
  font-size: 14px;
  color: gray;
}

.custom-task-focused {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-task-container:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiListItem-button.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiListItem-button.active .MuiTypography-root {
  font-weight: 600 !important;
}
