.custom-button {
  text-transform: initial !important;
  display: flex !important;
  width: 100%;
  border-radius: 50px !important;
  justify-content: flex-start !important;
  padding-left: 1rem !important;
}

.custom-task {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.custom-task-textarea {
  flex: 1;
}
